body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif,}
        
body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.w3-col m6 .img {
  background-position: center;
  background-size: cover;
  background-image: url("static/images/hand.webp");
  min-height: 100%;
  
}

.w3-bar .w3-button {
  padding: 16px;
}

.team-member {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
  }
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

